:root {
    /* primary */
    --color-orange: hsl(26, 100%, 55%);
    --color-semi-pale-orange: hsl(26, 100%, 75%);
    --color-pale-orange: hsl(25, 100%, 94%);
    
    /* neutral */
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-opacity-75: hsla(0, 0%, 0%, 75%);

    
    --spacing-05: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;


    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-very-dark-blue);
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
}

.text-btn {
    transition: background-color 150ms ease-in-out;
}

.text-btn:active {
    background-color: var(--color-semi-pale-orange) !important;
}

.icon-btn {
    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.icon-btn:active {
    opacity: 0.5;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-4);

    padding: var(--spacing-4);

    position: relative;
}

header button {
    border: none;
    background-color: var(--color-white);
}

#menu-btn {
    margin-top: 8px;
    position: relative;
    z-index: 101;
}

#menu {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    --menu-width: 60vw;
    width: var(--menu-width);

    background-color: var(--color-white);
    padding: var(--spacing-20) var(--spacing-6);
}

#menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - var(--menu-width)));
    height: 100vh;
    width: calc(100vw - var(--menu-width));

    background-color: var(--color-black-opacity-75);
}

#menu ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

#menu ul a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 700;
}

#cart-btn {
    position: relative;
    margin-left: auto;
}

#cart-btn img{
    fill: var(--color-very-dark-blue);
}

#cart-badge {
    display: none;
    position: absolute;
    right: 0;
    top: -4px;
    font-size: 0.5rem;
    font-weight: 600;

    color: var(--color-white);
    background-color: var(--color-orange);
    padding: 1px 6px;

    border-radius: var(--spacing-2);
}

#cart {
    display: none;
    position: absolute;
    z-index: 99;
    box-sizing: border-box;
    top: 74px;
    margin-left: var(--spacing-2);
    right: var(--spacing-2);

    background-color: var(--color-white);
    border-radius: var(--spacing-3);

    flex-direction: column;

    box-shadow: 0px 8px 20px -10px var(--color-black-opacity-75);

    width: calc(100% - var(--spacing-4));
    max-width: 400px;
}

#cart .cart-header {
    font-weight: 700;
    padding: var(--spacing-4);

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
    
#cart .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
}

#cart .products {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-grayish-blue);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-very-dark-blue);
}

#cart .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

#cart .product img {
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    border-radius: var(--spacing-1);
}

#cart .product button {
    padding: 0;
    background-color: transparent;
}

#cart button {
    background-color: var(--color-orange);
    color: var(--color-very-dark-blue);
    font-size: 1rem;
    font-weight: 800;
    border-radius: var(--spacing-3);
    padding: var(--spacing-4);
}

#cart.empty button {
    display: none;
}

#cart.empty .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 20vh;

    font-weight: 700;
    color: var(--color-dark-grayish-blue);
}

.text {
    color: var(--color-dark-grayish-blue);
}

.total-price {
    color: var(--color-very-dark-blue);
    font-weight: 700;
}

.avatar {
    width: 32px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: border-color 150ms ease-in-out;
}

.avatar:hover {
    border: 2px solid var(--color-orange);
}

#product-carousel {
    position: relative;
}


@keyframes right-to-mid {
    0% {
        transform: translateX(calc(100% + 1rem));
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes mid-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 1rem));
    }
}


@keyframes rotate-right-to-mid {
    0% {
        z-index: -1;
        transform: rotateY(90deg);
    }
    70% {
        z-index: 1;
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes rotate-mid-to-left {
    0% {
        z-index: 1;
        transform: rotateY(0deg);
    }
    70% {
        z-index: -1;
    }
    100% {
        transform: rotateY(-90deg);
    }
}

#product-carousel .product-image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 35vh;
    perspective: 1000px;
}

#product-carousel .product-image-container img {
    position: absolute;
    display: none;
    top: 0;
    left: 0;

    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

#product-carousel .product-image-container img.active {
    display: block;
    z-index: 1;
}

#product-carousel .product-image-container img.right-to-mid {
    display: block;

    animation: rotate-right-to-mid 3000ms ease-in-out;

    transform-origin: 50% 0 calc(-1 * clamp(165px, 165px + 7vw, 220px));
    transform-style: preserve-3d
}

#product-carousel .product-image-container img.mid-to-left {
    display: block;

    animation: rotate-mid-to-left 3000ms ease-in-out;

    transform-origin: 50% 0 calc(-1 * clamp(165px, 165px + 7vw, 220px));
    transform-style: preserve-3d
}

#product-carousel button {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
   
    background-color: var(--color-white);
    
    border-radius: 50%;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--spacing-9);
    aspect-ratio: 1 / 1;
}

#product-carousel button.close-btn {
    background-color: transparent;
    padding: 0;
}

#product-carousel button:active img {
    filter: brightness(0) saturate(100%) invert(60%) sepia(22%) saturate(6621%) hue-rotate(348deg) brightness(102%) contrast(101%);
}

#product-carousel #prev-btn {
    left: var(--spacing-4);
    padding-right: 10px;
}

#product-carousel #next-btn {
    right: var(--spacing-4);
    padding-left: 8px;
}

#product-carousel #thumbnails {
    display: none;
    flex-direction: row;
}


section#product {
    padding: var(--spacing-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

#manufacturer {
    color: var(--color-dark-grayish-blue);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

#name {
    font-size: 2rem;
}

#description {
    color: var(--color-dark-grayish-blue);
    font-weight: 400;
    line-height: 1.5;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--spacing-2);
}

#current-price {
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: var(--spacing-4);
}

#discount {
    color: var(--color-white);
    background-color: var(--color-very-dark-blue);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-2);
    font-weight: 500;
}

#old-price {
    margin-left: auto;
    text-decoration: line-through;
    text-decoration-color: var(--color-dark-grayish-blue);
    text-decoration-thickness: 1px;
    color: var(--color-dark-grayish-blue);
    font-weight: 800;
    letter-spacing: 2px;
}

.quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 800;

    background-color: var(--color-light-grayish-blue);

    border-radius: var(--spacing-3);

    margin: var(--spacing-6) 0;
}

.quantity-container button {
    padding: var(--spacing-4);
    background-color: transparent;
    border: none;
    border-radius: var(--spacing-3);
}

#quantity {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 2rem;
}

#add-to-card-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);

    background-color: var(--color-orange);
    color: var(--color-very-dark-blue);
    font-size: 1rem;
    
    font-weight: 800;
    
    border-radius: var(--spacing-3);
    border: none;
    
    padding: var(--spacing-4);
}

#add-to-card-btn img {
    height: 1rem;
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: row;

        --gap: clamp(var(--spacing-4), 7vw, var(--spacing-20));
        gap: var(--gap);
        padding: calc(var(--gap)/2);

        box-sizing: border-box;
        max-width: 1024px;
    }

    header {
        position: absolute;
        top: var(--spacing-6);
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 1300px;
        box-sizing: border-box;

        height: fit-content;
    }

    #menu {
        display: block;
        position: relative;
        z-index: 98;

        padding: 0;

        height: auto;
        width: auto;
    }

    #menu::after {
        content: none;
    }

    #menu ul {
        flex-direction: row;
    }
    
    #menu ul a {
        font-weight: 300;
        border-bottom: 4px solid transparent;
        transition: border-color 200ms ease-in, font-weight 300ms ease-in;
        padding-bottom: var(--spacing-10);
    }

    #menu ul a:hover {
        font-weight: 500;
        border-bottom: 4px solid var(--color-orange);
    }

    #product-carousel {
        flex: 1;
        
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);
    }

    #product-carousel .product-image-container {
        position: relative;
        aspect-ratio: 1 / 1;

        width: 100%;
        height: auto;

        border-radius: var(--spacing-4);
    }

    #product-carousel .product-image-container img {
        border-radius: var(--spacing-4);
    }


    #product-carousel button {
        display: none;
    }

    #product-carousel #thumbnails {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    #product-carousel #thumbnails .thumbnail {
        width: calc((100% - 3 * var(--spacing-6)) / 4);
        border-radius: var(--spacing-2);
        border: 2px solid transparent;
        border-radius: var(--spacing-2);
        overflow: hidden;
        position: relative;

        cursor: pointer;
        transition: border-color 200ms ease-in;
    }

    #product-carousel #thumbnails .thumbnail::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: transparent;
        z-index: -1;
        transition: background-color 200ms ease-in;
    }


    #product-carousel #thumbnails .thumbnail.selected::before,
    #product-carousel #thumbnails .thumbnail:hover::before  {
        background-color: var(--color-white);
    }

    #product-carousel #thumbnails .thumbnail img {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 200ms ease-in;
    }

    #product-carousel #thumbnails .thumbnail.selected {
        border: 2px solid var(--color-orange);
    } 

    #product-carousel #thumbnails .thumbnail.selected img,
    #product-carousel #thumbnails .thumbnail:hover img {
        opacity: .5;
    }

    section#product {
        flex: 1;

        padding: 0;

        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }

    #product .price {
        width: 100%;

        flex-wrap: wrap;
    }
    
    #product #name {
        font-size: clamp(2rem, 4vw, 3rem);
        margin-bottom: var(--spacing-6);
    }
    
    #product #discount {
        margin-right: auto;
    }
    
    #product #old-price {
        flex-basis: 100%;
        margin-top: var(--spacing-3);
    }

    #product .quantity-container {
        gap: var(--spacing-4);
    }

    #product #add-to-card-btn {
        flex: 1;
    }
}