:root {
    /* primary */
    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);
    
    /* neutral */
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-opacity-75: hsla(0, 0%, 0%, 75%);

    
    --spacing-05: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;


    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-very-dark-blue);
}

body, h1, p, ul {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Kumbh Sans', sans-serif;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-4);

    padding: var(--spacing-4);

    position: relative;
}

header button {
    border: none;
    background-color: var(--color-white);
}

#menu-btn {
    margin-top: 8px;
    position: relative;
    z-index: 110;
}

#menu {
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    --menu-width: 60vw;
    width: var(--menu-width);

    background-color: var(--color-white);
    padding: var(--spacing-20) var(--spacing-6);
}

#menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(-1 * (100vw - var(--menu-width)));
    height: 100vh;
    width: calc(100vw - var(--menu-width));

    background-color: var(--color-black-opacity-75);
}

#menu ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

#menu ul a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: 700;
}

#cart-btn {
    position: relative;
    margin-left: auto;
}

#cart-badge {
    display: none;
    position: absolute;
    right: 0;
    top: -4px;
    font-size: 0.5rem;
    font-weight: 600;

    color: var(--color-white);
    background-color: var(--color-orange);
    padding: 1px 6px;

    border-radius: var(--spacing-2);
}

#cart {
    display: none;
    position: absolute;
    z-index: 200;
    box-sizing: border-box;
    top: 74px;
    left: var(--spacing-2);
    right: var(--spacing-2);

    background-color: var(--color-white);
    border-radius: var(--spacing-3);

    flex-direction: column;
}

#cart .cart-header {
    font-weight: 700;
    padding: var(--spacing-4);

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
    
#cart .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: var(--spacing-4);
}

#cart .products {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow: auto;
}

#cart .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-4);
}

#cart .product img {
    height: 50px;
    aspect-ratio: 1 / 1;
    object-fit: scale-down;
    border-radius: var(--spacing-1);
}

#cart .product button {
    padding: 0;
    background-color: transparent;
}

#cart button {
    background-color: var(--color-orange);
    color: var(--color-very-dark-blue);
    font-size: 1rem;
    font-weight: 800;
    border-radius: var(--spacing-3);
    padding: var(--spacing-4);
}

.avatar {
    width: 32px;
}

#product-carousel {
    position: relative;
}

#product-carousel #thumbnails {
    display: none;
    flex-direction: row;
}

#product-carousel #product-image {
    position: relative;
    
    width: 100%;
    height: 35vh;
    
    object-fit: cover;
}

#product-carousel button {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
   
    background-color: var(--color-white);
    
    border-radius: 50%;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: var(--spacing-9);
    aspect-ratio: 1 / 1;
}

#product-carousel button:hover {
    color: var(--color-orange);
}

#product-carousel #prev-btn {
    left: var(--spacing-4);
    padding-right: 10px;
}

#product-carousel #next-btn {
    right: var(--spacing-4);
    padding-left: 8px;
}

section#product {
    padding: var(--spacing-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

#manufacturer {
    color: var(--color-dark-grayish-blue);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

#name {
    font-size: 2rem;
}

#description {
    color: var(--color-dark-grayish-blue);
    font-weight: 400;
    line-height: 1.5;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: var(--spacing-2);
}

#current-price {
    font-size: 1.5rem;
    font-weight: 800;
    margin-right: var(--spacing-4);
}

#discount {
    color: var(--color-white);
    background-color: var(--color-very-dark-blue);
    padding: var(--spacing-1) var(--spacing-2);
    border-radius: var(--spacing-2);
    font-weight: 500;
}

#old-price {
    margin-left: auto;
    text-decoration: line-through;
    text-decoration-color: var(--color-dark-grayish-blue);
    text-decoration-thickness: 1px;
    color: var(--color-dark-grayish-blue);
    font-weight: 800;
    letter-spacing: 2px;
}

.quantity-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-weight: 800;

    margin: var(--spacing-6) 0;
}

.quantity-container button {
    padding: var(--spacing-4);
    background-color: var(--color-light-grayish-blue);
    border: none;
    border-radius: var(--spacing-3);
}

#add-to-card-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-4);

    background-color: var(--color-orange);
    color: var(--color-very-dark-blue);
    font-size: 1rem;
    
    font-weight: 800;
    
    border-radius: var(--spacing-3);
    border: none;
    
    padding: var(--spacing-4);
}

#add-to-card-btn img {
    height: 1rem;
}

@media (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        flex-direction: row;

        max-width: 1024px;
    }

    header {
        position: absolute;
        top: var(--spacing-6);
        right: 0;
        left: 0;
    }

    #menu {
        display: block;
        position: static;

        padding: 0;

        height: auto;
        width: auto;
    }

    #menu::after {
        content: none;
    }

    #menu ul {
        flex-direction: row;
    }
    
    #menu ul a {
        font-weight: 300;
    }

    #cart {
        max-width: 360px;
        top: 0;
        right: 200px;
        left: auto;

        box-shadow: 0px 8px 20px -10px var(--color-black-opacity-75);
    }

    #product-carousel {
        flex: 1;
        
        display: flex;
        flex-direction: column;
        gap: var(--spacing-6);
    }

    #product-carousel #product-image {
        aspect-ratio: 1 / 1;
        object-fit: scale-down;

        height: auto;
        width: 100%;

        border-radius: var(--spacing-4);
    }

    #product-carousel button {
        display: none;
    }

    #product-carousel #thumbnails {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    #product-carousel #thumbnails img {
        width: 90px;
        aspect-ratio: 1 / 1;
        border-radius: var(--spacing-2);
    }

    #product-carousel #thumbnails img:focus {
        border: 2px solid var(--color-orange) inset;
    }

    #product {
        flex: 1;

        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


}